<template>
  <q-page class="flex flex-center">
     <img src="http://192.168.2.1:5000/video.mjpg" alt='Video feed' style="width:100%; height: 100%; object-fit: fill;" v-if='fpv' v-on:click='toggleFPV'/>
      <q-btn rounded color="primary" label='Feed de vídeo' icon="linked_camera" size="35px" class='absolute-center' v-on:click='toggleFPV' v-if='!fpv'/>
    <div id="stick-left" class="col"></div>
    <div id="stick-right" class="col"></div>
  </q-page>
</template>

<style>
</style>

<script>
import nipplejs from 'nipplejs';
import RaspberryService from '../service/RaspberryService.js'

document.addEventListener('deviceready', () => {
}, false)

export default {
  name: 'PageIndex',
  data: function ()  {
    return {
      fpv: false
    }
  },
  methods: {
    toggleFPV: function(){

      this.fpv = !this.fpv;
      console.log(this.fpv)
    }
  }
,
  mounted: function (){
    let service = new RaspberryService();
    var posServo1 = 0;
    var posServo2 = 0;
    service.connect();

    var manager1 = nipplejs.create({
        zone: document.getElementById('stick-right'),
        mode: 'static',
        position: {left: '10%', top: '50%'},
        color: 'red'
    });
    var manager2 = nipplejs.create({
        zone: document.getElementById('stick-left'),
        mode: 'static',
        position: {right: '10%', top: '50%'},
        color: 'blue'
    });
    //console.log(manager.get(0))

    manager1.on('move', function(evt, nipple){
        service.setVelocity(nipple.force);
        if(nipple.direction.angle === 'left'){
          if(nipple.direction.y === 'up'){
            service.moveCarRight();
          }else{
            service.moveCarBackwardRight();
          }
        }else if(nipple.direction.angle === 'right'){
          if(nipple.direction.y === 'up'){
            service.moveCarLeft();
          }else{
            service.moveCarBackwardLeft();
          }
        }else if(nipple.direction.angle === 'up'){
          service.moveCarForward();
        }else if(nipple.direction.angle === 'down'){
          service.moveCarBackward();
        }
    })
    manager1.on('end', function(evt, nipple){
          service.moveCarStop();
    })
    manager2.on('move', function(evt, nipple){
        if(nipple.direction.angle === 'left'){
          service.startMovingFpvLeft();
        }else if(nipple.direction.angle === 'right'){
          service.startMovingFpvRight();
        }else if(nipple.direction.angle === 'up'){
          service.startMovingFpvUp();
        }else if(nipple.direction.angle === 'down'){
          service.startMovingFpvDown();
        }
        console.log(nipple);
    })
    manager2.on('end', function(evt, nipple){
          service.stopMovingFpv();
    })
  }

}
</script>
